/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


@font-face { font-family: Rissa; src: url('/fonts/RissaTypeface.ttf'); } 
.title-honey {
font-family: Rissa;
font-size:150px
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, a, p, span {
  font-family: 'Raleway', sans-serif; }

html, body {
  overflow-x: hidden; }

.btn {
  background: #f08c00;
  border: none;
  width: 15em;
  padding: 1em 0;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn img {
    margin-left: 10px; }

.btn:hover {
  color: white;
  background-color: #f07900; }

.vcenter {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 765px) {
    .vcenter {
      display: block; } }

.not-mac {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 1em 0; }
  .not-mac .not-mac-p {
    color: white; }
  .not-mac .btn {
    margin: auto; }

.header {
  background: url("http://1.bp.blogspot.com/-jb-jMvQjKJE/T02752tykYI/AAAAAAAAFHk/hoZHlGTvWXo/s1600/img1_src_5214123.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -300em -300em 300em 300em rgba(0, 0, 0, 0.85) inset; }
  .header .nav {
    width: 100%; }
    .header .nav .nav-icon-div {
      display: flex;
      align-items: center;
      margin-top: 2.8em; }
      .header .nav .nav-icon-div .nav-icon {
        width: 6em;
        margin-right: 2em; }
      .header .nav .nav-icon-div .nav-icon-hc-text {
        color: white; }
  .header .header-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-itmes: center;
    text-align: center;
    margin-top: 3em; }
    .header .header-center .h1 {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.5em;
      max-width: 28em;
      margin: 2em auto; }
    .header .header-center .btn-header {
      margin: 1em auto 5em auto !important; }
    .header .header-center .get-with-hc {
      padding: 1em 8em; }
    .header .header-center a {
      margin: auto; }

.feachers {
  padding: 5em 0; }
  .feachers .feachers-img {
    border-right: 1px solid #e4e4e4;
    padding: 1em; }
  .feachers .feachers-img > img {
    width: 2em; }
  .feachers .feachers-blocks {
    display: flex;
    flex-direction: column; }
  .feachers .feachers-block {
    display: flex;
    align-items: center; }
  .feachers .feachers-text-block {
    padding: 0 1em;
    margin: 1.2em 0; }
  .feachers .feachers-text-block > p, .feachers .feachers-text-block > h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em; }
  .feachers .feachers-text-block > h2 {
    font-weight: 600; }
  .feachers .smart-img {
    width: 100%; }

.why-section {
  background-image: url("../img/why-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 0; }
  @media only screen and (max-width: 765px) {
    .why-section {
      padding: 0; } }
  .why-section .why-content {
    padding: 5em 0;
    max-width: 95%; }
    @media only screen and (max-width: 765px) {
      .why-section .why-content {
        padding: 0 0 1em 0 !important; } }
  .why-section .why-content, .why-section .why-content > p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em; }
  .why-section .why-content > h2 {
    font-weight: 600;
    margin: 1em 0; }
  .why-section .why-content > p {
    line-height: 2em !important; }

.smart-section {
  background-image: url("../img/Polygon3@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5em; }
  .smart-section .smart-center {
    color: white;
    margin: 8em 0;
    font-family: 'Open Sans', sans-serif; }
    @media only screen and (max-width: 991px) {
      .smart-section .smart-center {
        margin: 0 0 1em 0;
        text-align: center; } }
  .smart-section .smart-img-center {
    position: relative; }
    .smart-section .smart-img-center img {
      position: absolute;
      top: 60; }
      @media only screen and (max-width: 991px) {
        .smart-section .smart-img-center img {
          position: static;
          width: 100%; } }
  .smart-section .smart-center > h2 {
    font-size: 2.5em;
    margin-bottom: .7em; }
  .smart-section .smart-center > p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;
    font-weight: 300; }

.testimonials-sync {
  position: absolute;
  height: 11em; }
  @media only screen and (max-width: 765px) {
    .testimonials-sync {
      height: 7em; } }

.testimonials-section {
  margin: 8em 0; }
  @media only screen and (max-width: 765px) {
    .testimonials-section {
      margin: 0; } }
  .testimonials-section .testimonials-sync .slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center; }
  .testimonials-section .testimonials-sync .slick-slide {
    height: auto !important;
    padding: 1em 3em;
    outline: none;
    text-align: center;
    max-width: 1%; }
  .testimonials-section .testimonials-sync .slick-current {
    max-width: 1.5% !important;
    font-size: 1.5em; }
    @media only screen and (max-width: 765px) {
      .testimonials-section .testimonials-sync .slick-current {
        width: 1%;
        font-size: 1em; } }
    .testimonials-section .testimonials-sync .slick-current p {
      font-size: 1.2em; }
  .testimonials-section .container {
    position: relative; }
  .testimonials-section .testimonialsRow {
    position: relative; }
    .testimonials-section .testimonialsRow .macbookImg {
      position: absolute;
      z-index: 1;
      left: 50%;
      margin-left: -450px;
      width: 900px; }
      @media only screen and (max-width: 1199px) {
        .testimonials-section .testimonialsRow .macbookImg {
          width: 690px;
          margin-left: -345px; } }
      @media only screen and (max-width: 765px) {
        .testimonials-section .testimonialsRow .macbookImg {
          width: auto; } }
  .testimonials-section .testimonial {
    height: 380px !important;
    background-size: cover; }
    @media only screen and (max-width: 1199px) {
      .testimonials-section .testimonial {
        height: 280px !important;
        background-size: cover; } }
    .testimonials-section .testimonial .cleanDesktopImg {
      width: 51%;
      position: relative;
      /*add position values - fixing "clean desktop" images. Also add @include md and comment @include sm and xs*/
      right: 1%;
      top: -10px; }
      @media only screen and (max-width: 1199px) {
        .testimonials-section .testimonial .cleanDesktopImg {
          width: 46.2%;
          top: 2px;
          right: 6px; } }
  .testimonials-section .testimonials {
    padding-top: 23px; }
    @media only screen and (max-width: 1199px) {
      .testimonials-section .testimonials {
        padding-top: 17px; } }
    .testimonials-section .testimonials .slick-current {
      width: 5em;
      height: 15em;
      background: yellow;
      display: flex !important;
      justify-content: center;
      align-items: center; }
    .testimonials-section .testimonials .testimonial {
      height: 380px !important;
      background-size: cover; }
      @media only screen and (max-width: 1199px) {
        .testimonials-section .testimonials .testimonial {
          height: 280px !important;
          background-size: cover; } }
      .testimonials-section .testimonials .testimonial .cleanDesktopImg {
        width: 51%;
        position: relative;
        /*add position values - fixing "clean desktop" images. Also add @include md and comment @include sm and xs*/
        right: 1%;
        top: -5px; }
        @media only screen and (max-width: 1199px) {
          .testimonials-section .testimonials .testimonial .cleanDesktopImg {
            width: 47.2%;
            top: 2px;
            right: 7px; } }
        @media only screen and (max-width: 991px) {
          .testimonials-section .testimonials .testimonial .cleanDesktopImg {
            width: 62%; } }
  .testimonials-section .macAndDesk-img {
    width: 100%; }

.footer {
  background-color: #2a2825; }
  @media only screen and (max-width: 765px) {
    .footer .h2-footer {
      line-height: 1em !important; } }
  .footer .footer-icon-waves {
    position: relative; }
    .footer .footer-icon-waves img {
      position: absolute;
      left: 50%;
      margin-left: -209px;
      top: -250px; }
  .footer .footer-icon-waves {
    width: 100%; }
  .footer .footer-icon-waves > div {
    left: 50%;
    margin-left: -87px;
    top: -150px; }
  .footer .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 7em 0; }
    @media only screen and (max-width: 765px) {
      .footer .footer-center {
        text-align: center; } }
  .footer .footer-nav {
    background-color: #3d3b38;
    height: 5em; }
  .footer .footer-center > h2, .footer .footer-center > p {
    font-family: 'Open Sans', sans-serif;
    line-height: 2em; }
  .footer .btn-footer {
    margin-top: 4em; }

/*# sourceMappingURL=style.css.map */
