@mixin background {
	background-repeat: no-repeat;
 	background-position: center;
}

@mixin center {
	justify-content: center;
	align-items: center;
}

@mixin md() {
    @media only screen and (max-width: 1199px) { @content; }
}

@mixin sm() {
    @media only screen and (max-width: 991px) { @content; }
}

@mixin xs() {
    @media only screen and (max-width: 765px) { @content; }
}

/*@mixin xs() {
    @media only screen and (max-width: 300px) { @content; }
}*/

$break-small-SS: 320px;
$break-large-SS: 768px;

html, body{
	margin: 0;
	padding: 0;
	font-family: Lato;
}

/*html * {
	border: 1px solid red;
}*/

header {
	width: 100%;
	height: 70vh;
	background-image: url(../images/imac.png);
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: 100% 50%;

	@media (min-width: 1500px) {
		height: 100vh;
	}

	@media (max-height: 620px) {
		height: 100vh;
	}

	@include xs {
		box-shadow:0 0 300em 300em rgba(35, 33, 60, 0.6) inset;
		display: flex;
		@include center;
		background-position: top right;
	}

	.container {
		height: 100%;
	}

	.headerCenter {
		display: flex;
		height: 100%;
		align-items: center;

		.headerContent {
			display: flex;
			flex-direction: column;
			@media (min-width: 768px){
				margin-left: 80px;

				// @media (min-width: 768px){
				// 	.headerH1 {
				// 		font-size: 18px;
				// 	}
				// }
			}
				
			h1 {
				line-height: 1.4em;
				font-weight: bold;
			}

			p {
				font-size: 18px;
				color: black;
			}

			p.lead {
				margin: 20px 0;
			}

			.headerImg {
				width: 88px;

				@media (max-height: 450px){
					width: 32px;
				}
			}

			.downloadButton {
				text-align: center;
				width: 200px;
				font-size: 0.7em;

				.btn {
					width: 200px;
					font-size: 1.4em;
					color: white;
					background: #8EC305;
				}
			}

			.forMac {
				font-size: 14px;
			}

			@include sm {
				margin-left: 0;

				h1 {
					font-size: 2em;
				}

				p.lead {
					font-size: 1em;
				}
			}

			@include xs {
				display: flex;
				@include center;
				text-align: center;

				p.lead, h1, p {
					color: white;
				}

				.downloadButtonMb {
					text-align: center;
					font-size: 0.7em;

					.btn {
						width: 250px;
						font-size: 0.8em;
						color: white;
						background: #8EC305;
					}
				}

				.headerH1 {
					font-size: 38px;
				}

				p.lead {
					font-size: 28px;
				}

				.mobileText {
					font-size: 14px;
				}

				.forMac {
					font-size: 14px;
					font-weight: lighter;
				}

				@media (max-width: 614px){
					.headerH1 {
						font-size: 40px;
						margin: 0;
					}

					p.lead {
						margin-top: 10px;
					}
				}

				@media (max-width: 517px){
					.headerH1 {
						font-size: 30px;
					}

					p.lead {
						font-size: 20px; 
					}

					.downloadButtonMb {
						padding-top: 30px;
					}

					.mobileText {
						font-size: 12px;
					}
				}

				@media (max-width: 400px){
					p.lead {
						margin: 5px 0;
					}
				}

				@media (max-height: 630px){
					.headerH1 {
						font-size: 18px;
					}

					p.lead {
						font-size: 16px;
					}
				}

				@media (max-height: 550px){
					p.lead {
						margin: 0;
					}

					.downloadButtonMb {
						padding: 0!important;
					}
				}

				@media (max-height: 360px){
					.headerH1 {
						margin: 0;
					}
				}
			}
		}
	}
}

.-slide-active {
	color: #000;
}

.importantCDSection {
	margin: 100px 0;

	.WhyBackgroundRelative {
		position: relative;

		.WhyBackground {
			position: absolute;
			font-size: 16em;
			top: -90px;
			left: -30px;
			opacity: 0.05;
		}
	}

	.importantCDCenter {
		display: flex;
		@include center;
		flex-direction: column;

		.importantCDCol {
			width: 65%;

			p {
				margin: 30px 0;
				color: black;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.5em;
			}

			.icons {
				background: url(../images/icons.svg);
				background-repeat: no-repeat;
				width: 35px;
				height: 35px;
				background-size: 1000%;
				display: inline-block;
				margin-right: 15px;
			}
		}
	}
}

.smartSortSection {
	background: #F1992A;
	margin-top: 200px;
	color: white;
	padding-bottom: 80px; 

	@media (min-width: 1200px) {
		.smartSortContentCol {
			padding: 30px; 
		}
	}

	@include xs {
		.smartSortP {
			font-weight: normal;
		}
	}

	&:before {
		height: 200px;
		z-index: -3;
    	position: absolute;
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		content: "";
		display: inline-block;
		padding: 0;
		width: 105%;
		margin-top: -80px;    
		background-image: linear-gradient(to bottom, rgba(185, 183, 178, 0.08), rgba(132, 128, 123, 0.08));
		background: #F1992A;

		@include xs {
			margin-top: -40px;
		}
	}

	.smartSortContentCol {
		position: relative;

		h2 {
			@include xs {
				padding-left: 35px;
			}
		}

		p {
			line-height: 1.7em;
			font-weight: lighter;
			font-size: 1.2em;

			@include md {
				margin-top: 20px;
			}

			@include sm {
				line-height: 1em;
				font-size: 1em;
			}

			@include xs {
				padding: 0 35px;
			}
		}
	}

	.smartSortImg {
			position: absolute;
			top: -120px;
			width: 100%;

			@include sm {
				left: 0;
				top: -80px;
			}

			@include xs {
				position: relative;
				top: 0;
			}
	}
}




.featuresSection {
	margin: 50px 0 100px;
	position: relative;

	.headerImg {
		width: 30px;
	}

	.row {
		margin-top: 50px;
	}

	/*.featuresBGImg {
		position: absolute;
		top: 100%;
		left: 30%;
		z-index: -7;
	}*/

	/*.container {
		&:after {
			height: 120px;
			z-index: 8;
	    	position: absolute;
			transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			content: "";
			display: inline-block;
			padding: 0;
			width: 130%;
			margin-top: 320px; 
			left: -50px;   
			//background-image: linear-gradient(to bottom, rgba(185, 183, 178, 0.08), rgba(132, 128, 123, 0.08));
			background: white;
			//background-image: url(../images/window.jpg);
			//@include background;
		}

	}*/

	.featuresCenter {
		display: flex;
		@include center;

		.icons {
			background: url(../images/icons.svg);
			background-repeat: no-repeat;
			width: 60px;
			height: 70px;
			background-size: 850%;
			display: inline-block;
		}
	}

	/*&:after {
		height: 400px;
		z-index: -8;
    	position: absolute;
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		content: "";
		display: inline-block;
		padding: 0;
		width: 130%;
		margin-top: -80px; 
		left: -50px;   
		background: #ffca00;
	}*/
}

.testimonialsSection {
	margin: 0 0 100px 0;

	@include sm {
		//margin: 0;
	}

	.testimonialsRow {
		position: relative;

		.macbookImg {
			position: absolute;
			z-index: 1;
			left: 50%;
			margin-left: - 450px;
			width: 900px;

			@include md {
				width: 690px;
				margin-left: - 345px; 
			}

			@include xs {
				width: auto;
			}
		}
	}

	.testimonials-sync {

		span {
			color: #f8a000;
		}

		.slick-slide {
			width: 250px;
			height: 250px;
			display: flex!important;
			@include center;
			margin: 55px 10px;
			text-align: center;
			color: #9c9ca2;
			align-items: baseline;
			outline: none;
			cursor: pointer;
			//border: 1px solid black;
			//border-radius: 15px;
			//box-shadow: 0px 0px 29px -4px rgba(0,0,0,1);

			b {
				color: black;
				display: flex;
				align-items: baseline;
				@include center; 
				padding: 20px 0 -20px 0;
				margin: 0 0 -30px 0;
			}

			p:hover {
				color: black;
			}
		}

		.slick-current {
			color: black;
		}
	}

	.testimonials {
		padding-top: 23px;

		@include md {
			padding-top: 17px;
		}

		.slick-current {
			width: 5em;
			height: 15em;
			background: yellow;
			display: flex!important;
			@include center;
		}

		.testimonial {
			height: 380px!important;
			background-size: cover;
			//background-position: 0% 0%!important;

			@include md {
				height: 280px!important;
				background-size: cover; 
			}

			.cleanDesktopImg {
				width: 51%;
				position:relative; /*add position values - fixing "clean desktop" images. Also add @include md and comment @include sm and xs*/
				right:1%;
				top:-10px;

			//padding-top: -30px!important;

				@include md {
					width:46.2%;
					top:2px;
					right: 6px;
				}
			}
		}
	}

	#arrowsDiv {

		margin: 1em 0 0 0;
		//background: red;

		.slick-prev {
			background-image: url(../images/left.png);
			background-repeat: no-repeat;
			width: 100px;
			background-position: 0 0;
			background-color: white;
			border: none;
			outline: none;
			text-transform: uppercase;
			//background-color: red;
		}

		.slick-next {
			background-image: url(../images/right.png);
			background-repeat: no-repeat;
			width: 100px;
			background-position: 75 0;
			background-color: white;
			border: none;
			outline: none;
			text-transform: uppercase;
		}

		.slick-prev:hover, .slick-next:hover {
			color: #f8a000;
		}
		/*.slick-arrow {
			border-radius: 100%;
			width: 30px;
			height: 30px;
			background: none;
			outline: none;
		}

		.slick-next {
			border: 1px solid red;
			position: relative;

			.nextButtonCenter {
				position: absolute;
				top: 4px;
				left: 4px;
				border-radius: 100%;
				width: 20px;
				height: 20px;
				background: red;
				display: none;
			}
		}

		.slick-next:hover {
			.nextButtonCenter {
				display: block!important;
			}
		}
		

		.slick-center {
			border: 1px solid orange;
			position: relative;
			cursor: default;

			.centerButtonCenter {
				position: absolute;
				top: 4px;
				left: 4px;
				border-radius: 100%;
				width: 20px;
				height: 20px;
				background: orange;
			}
		}

		.slick-prev {
			border: 1px solid green;
			position: relative;

			.prevButtonCenter {
				position: absolute;
				top: 4px;
				left: 4px;
				border-radius: 100%;
				width: 20px;
				height: 20px;
				background: green;
				display: none;
			}
		}

		.slick-prev:hover {
			.prevButtonCenter {
				display: block!important;
			}
		}

		.buttonLine {
			height: 1px;
			width: 290px;
			background: black;
			display: inline-block;
			margin: 0 15px;

			@include md {
				width: 225px;
			}

			@include sm {
				width: 150px;
			}

			@include xs {
				width: 225px;
			}

			@media (max-width: 650px) {
				width: 150px;
			}

			@media (max-width: 470px) {
				width: 90px;
			}
		}*/
	}

	.macAndDeskFormobile {
		background: url(../images/macAndDesk.png);
		background-size: contain;
		@include background;
		width: 100%;
		position: relative;
		height: 300px;
		//margin: -200px 0 -300px 0;

		@include xs {
			//margin: -350px 0 -300px 0;
		}
	}
}

.downloadSection {

	.downloadButton {
		text-align: center;
		font-size: 0.7em;

		.btn {
			background: #8EC305;
			font-size: 1em;
			color: white;
			padding: 5px 30px;
		}
	}

	.downloadContentCol {
		margin: 40px 0 20px 0;

		.icons {
			background: url(../images/icons.svg);
			background-repeat: no-repeat;
			width: 60px;
			height: 70px;
			background-size: 850%;
			display: inline-block;
		}
	}

	.downloadIMG {
		width: 50px;
	}

	.downloadCenter {
		margin: 50px 0;
	}

	/*&:before {
		height: 300px;
		z-index: -3;
    	position: absolute;
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		content: "";
		display: inline-block;
		padding: 0;
		width: 130%;
		margin-top: -80px;    
		background-image: linear-gradient(to bottom, rgba(185, 183, 178, 0.08), rgba(132, 128, 123, 0.08));
		background: yellow;
	}*/
}

footer {
	background: #251e3d;
	color: white;
	padding: 30px 0;

	@include xs {
		.honeycombCopy {
			font-size: 1.4em;
		}
	}

}